@using NWebsec.Mvc.HttpHeaders.Csp
@model dynamic

@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_Layout.cshtml";
    //Layout = "";
    
}

<h2>title</h2>
<script @Html.CspScriptNonce()> document.write("script is here");</script>
<br/>
<script @Html.CspScriptNonce()> document.write("secondscript is here");</script>

<style @Html.CspStyleNonce()>
    h2 {
        font-size: 5em; /* view */
    }
</style>

@Html.Partial("PartialIndex")

@{
    var ub = new UriBuilder(Request.Url);
    ub.Path = "/DemositeMvc4/Home/Framed";
}
<iframe height="300" width="700" src="@ub.Uri.AbsoluteUri"></iframe>
